Website Ka Mission:
Aik user hoga wo sign up karega phir login karega us k bad apni aik product ki entry karega phir us k samne dinno k lihaz se deta aiga k is din kitne sales hoin itna faida hoa itna nuqsan hoa aur user apni product ko bad me edit bhi karsakta hai.